SAFE4_STELLAR_HOST=0.0.0.0
SAFE4_STELLAR_PORT=8080
SAFE4_STELLAR_VERIFICATION_MODE=mock
SAFE4_STELLAR_NETWORK=stellar-testnet
SAFE4_STELLAR_ASSET_CODE=XLM
SAFE4_STELLAR_ASSET_ISSUER=
SAFE4_STELLAR_DESTINATION=GCR2XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SAFE4_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
SAFE4_STELLAR_MAX_SPEND_PER_REQUEST=2.000000
SAFE4_STELLAR_RATE_LIMIT_REQUESTS=5
SAFE4_STELLAR_RATE_LIMIT_WINDOW_SECONDS=60
SAFE4_STELLAR_PROOF_SECRET=change-me
SAFE4_X402_FACILITATOR_URL=
SAFE4_X402_FACILITATOR_API_KEY=
